
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(24, 23, 23);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header{
  color: white;
  margin-left:20px;
}
header h1{
  margin-bottom: 20px;
  
}
hr {
  width: 79%;
  margin: 0px 0px 20px 0px;
  border: none;
  height: 1px;
  background-color: rgb(86, 85, 85);
}

a{
  text-decoration: none;
  color:white;
}
.albumName{
  color:  #ffffff;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  margin:8px 0px 0px 0px;
}

.albumName:hover{
  text-decoration: underline;
}

.artistName{
  color: #a0a0a0;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

.artistName:hover{
  text-decoration: underline;
}

.albumTracks{
  color: #a0a0a0;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  margin: 5px 0px 0px 0px;
}
.albumTracks:hover{
  text-decoration: underline;
}

.albums-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.album-container{
  display:flex;
  flex-direction: column;
  max-width:max-content;
  align-self: center;
  justify-self: center;
  margin: 0 20px;
  cursor: pointer;
} 

.album-cover-image{
  max-width: 100%;
}

.album-cover-picture{
  display: flex;
  
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.album-cover-picture:hover .overlay{
  opacity: 1;
  background-color: #000000a1;
}

/* Overlay of buttons */
.overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.btn-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.like-btn,
.more-btn,
.play-btn {
  width: 3rem;
  background-color: transparent;
  border: none;
}
.play-btn{
  width: 6rem;
  transition: all 0.1s ease-in-out; 
  opacity: 0.6;
}
.play-btn:hover{
  transform: scale(1.1);
  opacity: 1;
}
.like-btn,
.play-btn,
.more-btn img {
  filter: invert(10);
} 

.playlists-container{
  display:none;
}

/* Playlist dropup for mobile view */
.dropup {
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  margin-top: 10em;
  padding: 0.2em;
  cursor: pointer;
  z-index:99;
  left: 2%;
  right: 2%;
  bottom: 0;
  
  
}
.open {
  font-size: 2em; 
  padding: 0.2em;
  transition: 240ms ease;
  width: 80%;
}
.open:hover {
  transform: scale(1.2);
} 
  
.close {
  font-size: 2em; 
  padding: 0.2em;
  transition: 240ms ease;
  width: 80%;
}

.dropup-content {
  position: absolute;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  animation-name: foldUp;
  animation-duration: 240ms;
  background-color:rgb(41, 41, 41);
  width:70%;
  border-radius: 20px;
  opacity:0.95;
  
}

.dropup .playlists-header-container{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap:10px;
  background-color:rgb(41, 41, 41);
  height: 50px;
  padding: 1% 5%;
  border-radius: 20px;
  margin: 1%;
  opacity:0.95;
 
} 

.playlists-title{
  font-size: 16px;
  color:white;
  align-self: center;
}

.dropup p{
  opacity:0.6;
  font-size:18px;
} 

.dropup p:hover{
  opacity:1;
} 

.playlist-icon{
  width:30px;
  filter:invert(1);
  align-self: center;
} 

@keyframes foldUp {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

/* Tablet */
@media (min-width: 600px) {
  .albums-grid{
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 80%;
  }

  .dropup{
    display:none;
  }

  /* Playlist */
.playlists-container{
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom:0;
  overflow-x: hidden;
  padding: 20px;
  border-radius: 18px;
  margin: 1%;
}

.playlists-header-container{
  display:flex;
  flex-direction: column;
  justify-content: center;

}

.playlists-title{
  font-size: 22px;
  color:white;
  align-self: center;
}

.playlists-container p{
  opacity:0.6;
  font-size: 18px;
}

.playlists-container p:hover{
  opacity:1;
}

.playlist-icon{
  width:60px;
  filter:invert(1);
  align-self: center;
}
}

@media (min-width:992px) {
  .albums-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}